@page "/registro"
@using System.Net.Http.Json
@using Sivilab.Models.Models;

<h3>Registro de Usuario</h3>

@if (mensaje != null)
{
    <div>@mensaje</div>
}

<EditForm Model="@usuario" OnValidSubmit="@Registrar_Usuario" FormName="registroUsuarioForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Nombre:</label>
        <InputText @bind-Value="usuario.Nombre" class="form-control" />
    </div>
    <div>
        <label>Email:</label>
        <InputText @bind-Value="usuario.Email" class="form-control" />
    </div>
    <div>
        <label>Contraseña:</label>
        <InputText @bind-Value="usuario.Contrasena" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</EditForm>

@code {
    Usuario usuario;
     protected override async Task OnInitializedAsync()
    {
         usuario = new Usuario { Rol = "Usuario" }; // Inicializa con Rol
    }
    

    string? mensaje;
    [Inject]
    public HttpClient Http { get; set; } = default!;
    
    private async Task Registrar_Usuario()
    {
        try
        {
            // Cambia la URL por la de tu API real
            var response = await Http.PostAsJsonAsync($"api/Usuario/RegistrarUsuario", usuario);

            if (response.IsSuccessStatusCode)
            {
                mensaje = "¡Usuario registrado exitosamente!";
                usuario = new Usuario();
            }
            else
            {
                var errorMsg = await response.Content.ReadAsStringAsync();
                mensaje = $"Error: {errorMsg}";
            }
        }
        catch (Exception ex)
        {
            mensaje = $"Error de conexión: {ex.Message}";
        }
    }

   
}