<form>
    <div>
        <label for="curp">1. CURP *</label>
        <input type="text" class="textIn" id="curp" name="curp" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label for="nombre">2. NOMBRE *</label>
        <input type="text" class="textIn" id="nombre" name="nombre" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label>3. GENERO *</label>
        
        <br />
        <input type="radio" id="masculino" name="genero" value="masculino" required>
        <label for="masculino">MASCULINO</label>
        
        <br />
        <input type="radio" id="femenino" name="genero" value="femenino" required>
        <label for="femenino">FEMENINO</label>
        
        <br />
        <input type="radio" id="no_binario" name="genero" value="no_binario" required>
        <label for="no_binario">NO BINARIO</label>
    </div>

    <div>
        <label for="fecha_nacimiento">4. FECHA DE NACIMIENTO *</label>
        <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="Especifique la fecha (d/M/yyyy)" required>
    </div>

    <div>
        <label for="lugar_nacimiento">5. LUGAR DE NACIMIENTO *</label>
        <input type="text" class="textIn" id="lugar_nacimiento" name="lugar_nacimiento" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label>6. ERES EGRESADO DEL PROGRAMA DE JOVENES CONSTRUYENDO EL FUTURO *</label>

        <br />
        <input type="radio" id="egresado_si" name="egresado_programa" value="si" required>
        <label for="egresado_si">SI</label>

        <br />
        <input type="radio" id="egresado_no" name="egresado_programa" value="no" required>
        <label for="egresado_no">NO</label>
    </div>

    <div>
        <label for="telefono">7. TELEFONO *</label>
        <input type="tel" id="telefono" name="telefono" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label for="correo">8. CORREO ELECTRONICO *</label>
        <input type="email" id="correo" name="correo" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label for="municipio_estado">9. MUNICIPIO Y ESTADO DONDE VIVES *</label>
        <input type="text" class="textIn" id="municipio_estado" name="municipio_estado" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label for="codigo_postal">10. CODIGO POSTAL *</label>
        <input type="text" class="textIn" id="codigo_postal" name="codigo_postal" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label for="colonia">11. COLONIA *</label>
        <input type="text" class="textIn" id="colonia" name="colonia" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label for="nivel_estudios">12. NIVEL DE ESTUDIOS *</label>
        <input type="text" class="textIn" id="nivel_estudios" name="nivel_estudios" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label for="carrera">13. CARRERA O ESPECIALIDAD *</label>
        <input type="text" class="textIn" id="carrera" name="carrera" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label for="experiencia_laboral">14. EXPERIENCIA LABORAL *</label>
        <br />
        <textarea id="experiencia_laboral" name="experiencia_laboral" placeholder="Escriba su respuesta" required></textarea>
    </div>

    <div>
        <label for="puesto_trabajo">15. PUESTO DE TRABAJO QUE HA TENIDO *</label>
        <br />
        <textarea id="puesto_trabajo" name="puesto_trabajo" placeholder="Escriba su respuesta" required></textarea>
    </div>

    <div>
        <label for="anos_experiencia">16. AÑOS DE EXPERIENCIA *</label>
        <input type="text" class="textIn" id="anos_experiencia" name="anos_experiencia" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label for="dominio_idioma">17. DOMINIO DE OTRO IDIOMA *</label>
        <input type="text" class="textIn" id="dominio_idioma" name="dominio_idioma" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label for="puesto_deseado">18. PUESTO QUE DESEADO *</label>
        <input type="text" class="textIn" id="puesto_deseado" name="puesto_deseado" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <label for="salario_pretendido">19. SALARIO PRETENDIDO *</label>
        <input type="text" class="textIn" id="salario_pretendido" name="salario_pretendido" placeholder="Escriba su respuesta" required>
    </div>

    <div>
        <p>20. DECLARO BAJO POTESTA DE DECIR VERDAD QUE LOS DATOS CONTENIDOS EN ESTE REGISTRO SON VERDADEROS. Atendiendo al principio de "consentimiento" consagrado en el artículo 16 y de conformidad con lo señalado en el artículo 20, ambos de la "LEY GENERAL DE PROTECCION DE DATOS PERSONALES EN POSESION DE SUJETOS OBLIGADOS (LGPDPPSO)" expreso mi voluntad, específica e informada, para que se efectúe el tratamiento de mis datos personales por la OSNE para los fines consistentes en la vinculación laboral, hasta la posible colocación en una actividad productiva; asimismo autorizo a la OSNE para que realice la transferencia de mis datos personales a la Secretaría del Trabajo y Previsión Social (STPS) a través de la Unidad del Servicion Nacional de Empleo (USNE) con el objetivo de llevar a cabo actividades relacionadas con aquellas que originaron la solicitud de dichos datos personales. Asímismo, la OSNE como sujeto Obligado será la encargada de establecer los mecanismos necesarios para la protección de los datos bajo su resguardo, así como de aquellos mecanismos que aseguren la correcta transferencia de estos a otra entidad.</p>
        <p>He sido informado que podré ejercer los derechos de Acceso, Rectificación, Cancelación y Oposición (ARCO) de conformidad con la (LGPDPPSO), ante la OSNE. *</p>

        <input type="radio" id="declaracion_si" name="declaracion" value="si" required>
        <label for="declaracion_si">SI</label>
    </div>

    <div>
        <p>LA RECOLECCION DE DATOS PERSONALES SE LLEVA A CABO A TRAVES DE LA PAGINA ELECTRONICA HTTPS://WWW.EMPLEO.GOB.MX/PORTALDIGITAL CUYO ADMINISTRADOR Y RESPONSABLE DEL TRATAMIENTO ES LA UNIDAD DEL SERVICIO NACIONAL DE EMPLEO (USNE) DE LA SECRETARIA DEL TRABAJO Y PREVISION SOCIAL (STPS) LOS DATOS PERSONALES QUE SE RECABAN SERAN UTILIZADOS CON LA FINALIDAD DE PROMOVER PUESTOS VACANTES PARA RECIBIR CANDIDATOS INTERESADOS EN OCUPARLAS. SI DESEAS CONOCER NUESTRO AVISO DE PRIVACIDAD INTEGRAL, LO PODRAS CONSULTAR EN: HTTPS://VUN.EMPLEO.GOB.MX/CONTENIDO/PUBLICO/SEGOB/AVISOPRIVACIDADINTEGRALMPRESA.JSF *</p>

        <input type="radio" id="recoleccion_si" name="recoleccion_datos" value="si" required>
        <label for="recoleccion_si">SI</label>
    </div>

    <button type="submit">Enviar</button>
</form>

@code {

}
