<header>
    <h1>Portal de Empleo</h1>
    <nav>
        <a href="#">Regístrate</a>
        <a href="#" class="bordered-link">Iniciar sesión</a>
    </nav>
</header>

<div class="nav-links">
    <a href="#ofertas">Ofertas</a>
    <a href="#eventos">Eventos</a>
    <a href="#programas">Programas</a>
</div>

@code {

}
