<header>
    <div>
        <a href="portal.html">
            <img src="https://capacitacionsne.stps.gob.mx/pluginfile.php/1/theme_mb2nl/logo/1751054528/LogoSNE.png" alt="Logo" style="height: 40px;">
        </a>
        <h1>Portal de Empleo</h1>
    </div>
    <nav>
        <NavLink href="/registro" class="nav-link">Regístrate</NavLink>
        <a href="#" class="bordered-link">Iniciar sesión</a>
    </nav>
</header>

@code {

}